@{
    ViewBag.Title = "Облік послуг спорткомплексу";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Курсова робота з баз даних</h1>
    </section>
    <p></p>
    <h2>Виконала: Ващишина Леся</h2>
    <p>
        Спорткомплекс пропонує наступний набір послуг: басейн, фітнес-центр, тренажерний зал, масаж і сауна. Адміністратор спортзалу видає клієнту клубну картку, при оформленні якої враховується набір послуг, якими користується клієнт. Також враховується режим відвідування спортзалу:
        <ul>
            <li> необмежений – клієнт відвідує спорткомплекс впродовж певного терміну, без обмеження в кількості відвідин;</li>
            <li> місячний абонемент – відвідання спорткомплексу у встановлений час впродовж місяця (гроші за пропущені відвідування не відшкодовуються);</li>
            <li> разовий – оплата по кожному відвідуванню окремо.</li>
        </ul>
        При виборі басейну клієнт повинен додатково пройти медичне обстеження для отримання довідки про стан здоров'я. Обстеження виконується в медичній клініці, що є партнером спорткомплексу, результати обстеження автоматично спрямовуються в спорткомплекс адміністратору.
        На підставі послуг, замовлених клієнтами, а також на підставі статистики фактичних відвідувань, адміністратор спорткомплексу формує детальний звіт про найбільш популярні послуги. На підставі звіту директор спорткомплексу приймає рішення про можливе розширення переліку послуг, про поліпшення окремих видів послуг і так далі.
    </p>













    
</main>